<div class="jumbotron center">
<h1>Home Page</h1>
<p>This is my app. Hear me roar.</p>

<%= link_to "Log In", "#", class: "btn btn-default btn-lg"  %>
<%= link_to "Sign up.", "#", class: "btn btn-primary btn-lg" %>
<br>
This is Joshua's One Month Rail app. It is on Heroku. Finish it. 

</div>