<div class="jumbotron center">
	<h1>Home Page</h1>
	<p>This is my app. Hear me roar.</p>

	<% if user_signed_in? %>
		# do something
		Welcome to the Members Area. 
	 <% else %>
		<p>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg"  %>
		<%= link_to "Sign up.", new_user_registration_path, class: "btn btn-primary btn-lg" %> <!-- don't put paths in quotes -->
		</p>
	 <% end %>
	<br>
	This is Joshua's One Month Rail app. It is on Heroku. Finish it. 

</div>